<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dentalkart_Stockalert::detail" title="Stock alert" module="Dentalkart_Stockalert" sortOrder="10" parent="Magento_Catalog::catalog" action="stockalert/detail" resource="Dentalkart_Stockalert::detail"/>
        <add id="Dentalkart_Stockalert::stockalert" title="Stockalert" module="Dentalkart_Stockalert" sortOrder="40" resource="Dentalkart_Stockalert::stockalert"/>


    </menu>
</config>
