<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dentalkart\Stockalert\Api\Data\InputdataInterface" type="Dentalkart\Stockalert\Model\Detail"/>
    <preference for="Dentalkart\Stockalert\Api\CodesRepositoryInterface" type="Dentalkart\Stockalert\Model\CodesRepository"/>
    <type name="Dentalkart\Stockalert\Model\ResourceModel\Grid\Detail\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">dentalkart_Stockalert_detail</argument>
            <argument name="eventPrefix" xsi:type="string">dentalkart_Stockalert_detail_collection</argument>
          <argument name="resourceModel" xsi:type="string">Dentalkart\Stockalert\Model\ResourceModel\Grid\Detail</argument>
          <argument name="attributeinfo" xsi:type="object">Magento\Eav\Model\Entity\Attribute</argument>
        </arguments>
    </type>
        <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
            <arguments>
                <argument name="collections" xsi:type="array">
                    <item name="dentalkart_Stockalert_detail_listing_data_source" xsi:type="string">Dentalkart\Stockalert\Model\ResourceModel\Grid\Detail\Grid\Collection</item>
                </argument>
            </arguments>
        </type>
  <!-- <virtualType name="Dentalkart\Stockalert\Model\ResourceModel\Grid\Detail\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dentalkart_Stockalert_detail</argument>
            <argument name="resourceModel" xsi:type="string">Dentalkart\Stockalert\Model\ResourceModel\Grid\Detail</argument>
        </arguments>
    </virtualType> -->
</config>
