<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
        <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
            <arguments>
                <argument name="collections" xsi:type="array">
                    <item name="dentalkart_customerstockalert_listing_data_source" xsi:type="string">Dentalkart\Customerstockalert\Model\ResourceModel\Grid\DkStock\Grid\Collection</item>
                </argument>
            </arguments>
        </type>
  <!-- <virtualType name="Dentalkart\Customerstockalert\Model\ResourceModel\Grid\DkPrice\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">product_alert_price</argument>
            <argument name="resourceModel" xsi:type="string">Magento\ProductAlert\Model\ResourceModel\Price</argument>
        </arguments>
    </virtualType> -->
</config>
