<?xml version="1.0"?>
<!--
/**
 * Location: magento2_root/app/code/Vendorname/Extensionname/etc/adminhtml/system.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
      <section id="cataloginventory">
           <group id="item_options">
                <field id="notification_email" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>insert email of autherised person</label>
                    <comment>use comma after each email</comment>
                </field>
                <field id="notification_sms" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>insert mobile number of autherised person</label>
                </field>
                <field id="demo" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>put yes or no</label>
                </field>
            </group>
        </section>
    </system>
</config>
