<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Dentalkart\PricealertGraphQl\Model\Resolver\Customeralert">
        <plugin name="product_stock" type="Dentalkart\Stockdemo\Plugin\Stockalert" />
    </type>
</config>
